/**************Tipos de Fuentes************/
@font-face {
    font-family: "Skyrim";
    src: url(../Fonts/DarkXShadowSkyrim.ttf);
}
@font-face {
    font-family: "Skyrim1";
    src: url(../Fonts/Balgruf-31cd.woff2);
}
@font-face {
    font-family: "poirent";
    src: url(../Fonts/PoiretOne-Regular.ttf);
}

/*********Propiedades Personalizadas*******/
:root {
    --first-color: rgb(5, 5, 5);
    --first-alpha-color: #373D3E;
    --second-color: #232821;
    --winte-color: #ffffff;
    --first-font: "Skyrim";
    --second-font:"Skyrim1";
}

/*****Reset*****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body { 
    font-family: var(--first-font);
    overflow-x: hidden;
    background-color: var(--first-alpha-color);
} 
a {
    text-decoration: none;
    color: var(--first-alpha-color); 
}
li {
    list-style-type: none;
}
li > a {
    transition: 2s;
}
li > a:hover {
    color: #d5c2c2;
}
span {
    color: gray;
}
p {
    color: var(--winte-color);
}

/*****Utilidades*****/
.card-button {
    height: 1rem;
    width: 12rem;
    padding: 1rem;
    font-size: 1em;
    font-family: var(--second-font);
    line-height: 0;
    transition: 0.5s;
    display: inline-block;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;    
}
.card-button:hover {
    background-color: var(--first-color);
}

/*****Imagenes de Fondo*****/
#fondo-principal {
    background-image: url(../CSS/Multimedia-CSS/Imagenes/Skyrim-Fondo-Home-.jpg);
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: 80%;
}
#tipos {
    background-image: url(../CSS/Multimedia-CSS/Imagenes/Melena-Gris-tipos-de-modelo.png);
    height: 100vh;
    background-size: cover;
    background-position: 20%;
}
#cuchillodeacero {
    background-image: url(../CSS/Multimedia-CSS/Imagenes/Cuchillo-de-Acero-al-carbon-Dagaestilete.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 60%;
}
#acercade {
    background-image: url(../CSS/Multimedia-CSS/Imagenes/Skyrim-Fragua-Acercade.png);
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: 20%;
}
#afilado {
    background-image: url(../CSS/Multimedia-CSS/Imagenes/Fragua-Carrera-Blanca.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 72%;
}
#restauracion  {
    background-image: url(../CSS/Multimedia-CSS/Imagenes/restauracion-de-cuchillos.png);
    height: 100vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
#contactanos {
    background-image: url(../CSS/Multimedia-CSS/Imagenes/Fondo-Cuenta-Gamer-Master-Kanives.jpg);
    height: 100vh;
    width: auto;
    background-size: cover;
}

/***************Barra de Navegacion***************/
.img {
    height: 8rem;
    width: 4rem;
    
}
.cuerpo-inicio > header > .nav-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
    background-color:#0C0D07;
    width: 100%;
    transition: 0.5s;
}
.cuerpo-inicio > header > .nav-container > .logo {
    display: flex;
    align-items: center;
    column-gap: 0.8rem; 
}
.cuerpo-inicio > header > .nav-container > .logo > img {
    height: 5rem;
    width: 5rem;
}
.cuerpo-inicio > header > .nav-container > .navigation > .menu {
    display: flex; 
    column-gap: 1rem;
    font-family: var(--second-font);
}

/*****Home*****/
.titulo {
    display: flex;
    justify-content: center;
    position: relative;
    top: 19rem;
    right: 15rem;;
}

/*****************Productos destacados******************/
.principal {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom,  #919ba2dc, #000000);
}
.principal > .tarjetas {
 height: 30rem;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 position: relative;
 
}
section {
    padding: 2rem;
}
.card {
    height: 150px;
    width: 220px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--second-color);
    box-shadow: 2px 2px 10px black;
}
.card-image {
    height: 5rem;
    width: 13.5rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.card-data{
    list-style: none;
    color: white;
}
.card-data-titles {
    color: lightgrey;
}
.card-data-nombre {
    color:var(--first-alpha-color);
}
.card-button:hover {
    background-color: white;
    color: #F5B241;
}
figcaption ul li {
   margin-bottom: 3px; 
}

/*****Responsive*****/
@media screen and (max-width: 786px) {
    .cuerpo-inicio > header > .nav-container > .navigation > .menu > li  > a {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-container > a > h2 {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .cuerpo-inicio > header > .nav-container > .navigation > .menu > li {
        font-size: 0.5em;
        position: relative;
        right: 5rem;
        color: var(--winte-color);
    }
    .cuerpo-inicio > header > .nav-container > .logo {
        position: relative;
        top: 10rem;
    }
    .cuerpo-inicio > header > .nav-container > .logo > img {
        position: relative;
        top: 5rem;
    }
}

/*****Responsive*****/
@media screen and (max-width: 786px) {
    .principal > .tarjetas {
        grid-template-columns: repeat(2, 1fr);
    }
    .audio {
       display: none;
    }
}
@media screen and (max-width: 480px) {
    .principal > .tarjetas {
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        bottom: 1.5rem;
        margin-left: 4rem;
    }
    .card-image {
        height: 3rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .principal > .tarjetas > section > .card {
        height: 6rem;
        width: 12rem;
    }
}

/*****Responsive****/ 
@media screen and (max-width: 480px) {
    main > #main > .etiqueta-contenedora {
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 7rem;
        width: 20rem;
        border-radius: 1rem;
        position: relative;
        bottom: 7rem;
        box-shadow: 1rem 1rem 1rem rgb(41, 39, 39);
    
     }
     main > #main > .etiqueta-contenedora > .cloudy {
        display: flex;
        justify-content: space-between;
        align-items: end;
        background-color: #FAF9FA;
        height: 9rem;
        width: 20rem;
        border-radius: 1rem;
        position: relative;
        bottom: 1rem;
        top: 1rem;
        box-shadow: 1rem 1rem 1rem rgb(41, 39, 39);
     }
     main > #main > .etiqueta-contenedora > .cloudy  p {
         color: #F5F2F2;
     }
     main > #main > .etiqueta-contenedora  > .cloudy > .grados {
         background-color: #000000;
         height: 4rem;
         width: 5rem;
         border-radius: 0rem 0rem 0rem 1rem;
     }
     main > #main > .etiqueta-contenedora  > .cloudy > .grados  p {
         font-family: "poirent";
         color: #F5F2F2;
         font-size: 2em ;
         display: flex;
         position: relative;
         left: 1rem;
         top: 0.5rem;
     }
     main > #main > .etiqueta-contenedora > .cloudy > .tiempo-en {
         background-color: #070706;
         height: 4rem;
         width: 12rem;
         display: flex;
         justify-items: center ;
         flex-direction: column;
         align-items: center;
     } 
     main > #main > .etiqueta-contenedora > .cloudy > .tiempo-en > img {
        height: 4rem;
         width: 4rem;
         position: relative;
         bottom: 4rem;
     }
     main > #main > .etiqueta-contenedora > .cloudy > .tiempo-en > span {
         color: #F5F2F2;
         font-size: 1rem;
         font-family: "Poirent";
         text-transform: uppercase;
         position: relative;
         bottom: 4rem;
     }
     main > #main > .etiqueta-contenedora > .cloudy > .tiempo-en p {
         font-family: "Poirent";
         position: relative;
         bottom: 4rem;
     }
     main > #main > .etiqueta-contenedora > .cloudy > .fecha {
         background-color: #6EB6B2;
         height: 4rem;
         width: 5rem;
         border-radius: 0rem 0rem 1rem 0rem;
     }
     main > #main > .etiqueta-contenedora > .cloudy  > .fecha > p {
         font-size: 1rem;
         text-align: center;
         position: relative;
         text-transform: capitalize;
         font-family: "Poirent";
     }
}
/**********************Tipos de Modelos*********************/
.tipos > h1 {
    font-size: 4em;
    opacity: 0.5;
    text-align: center;
    text-shadow:10rem 2rem 2rem  black ;
}
.artesanal > .modelos > div > table > tbody > tr > td > span {
    font-family: var(--second-font);
    font-size: 1.5em;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Kukri {
    height: 5rem;
    width: 9rem;;
    border: 0.3rem solid rgb(131, 124, 124);
    border-radius: 1rem;
    object-fit: cover;
    transition: 3s;   
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Kukri:hover {
    box-shadow: 0px 6px 10px 3px rgb(102, 100, 100);
    background-color:#C4C2BE;
    height: 19rem;
    width: 34rem;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Kerambit2 {
    height: 5rem;
    width: 9rem;;
    border: 0.3rem solid rgb(131, 124, 124);
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 2rem 2rem 10rem rgb(8, 8, 8);
    transition: 3s;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Kerambit2:hover {
    box-shadow: 0px 6px 10px 3px rgb(102, 100, 100);
    background-color:#C4C2BE;
    height: 19rem;
    width: 34rem;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Gut-Knife {
    height: 5rem;
    width: 9rem;
    border: 0.3rem solid rgb(131, 124, 124);
    border-radius: 1rem;
    box-shadow: 2rem 2rem 10rem black;
    object-fit: cover;
    box-shadow: 2rem 2rem 10rem rgb(8, 8, 8);
    transition: 3s;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Gut-Knife:hover {
    box-shadow: 0px 6px 10px 3px rgb(102, 100, 100);
    background-color:#C4C2BE;
    height: 19rem;
    width: 34rem;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Daga {
    height: 5rem;
    width: 9rem;
    border: 0.3rem solid rgb(131, 124, 124);
    border-radius: 1rem;
    box-shadow: 2rem 2rem 10rem black;
    object-fit: cover;
    box-shadow: 2rem 2rem 10rem rgb(8, 8, 8);
    transition: 3s;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Daga:hover {
    box-shadow: 0px 6px 10px 3px rgb(102, 100, 100);
    background-color:#C4C2BE;
    height: 19rem;
    width: 34rem;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Tanto {
    height: 5rem;
    width: 9rem;
    border: 0.3rem solid rgb(131, 124, 124);
    border-radius: 1rem;
    box-shadow: 2rem 2rem 10rem black;
    object-fit: cover;
    box-shadow: 2rem 2rem 10rem rgb(8, 8, 8);
    transition: 3s;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Tanto:hover {
    box-shadow: 0px 6px 10px 3px rgb(102, 100, 100);
    background-color:#C4C2BE;
    height: 19rem;
    width: 34rem;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Estilete {
    height: 5rem;
    width: 9rem;
    border: 0.3rem solid rgb(131, 124, 124);
    border-radius: 1rem;
    box-shadow: 2rem 2rem 10rem black;
    object-fit: cover;
    box-shadow: 2rem 2rem 10rem rgb(8, 8, 8);
    transition: 3s;
}
.artesanal > .modelos > div > table > tbody > tr > td > figure > #Estilete:hover {
    box-shadow: 0px 6px 10px 3px rgb(102, 100, 100);
    background-color:#C4C2BE;
    height: 19rem;
    width: 34rem;
}
figure > figcaption {
    color: #BE9561;
}
/*****Responsive*****/
@media screen and (max-width: 480px) { 
    .artesanal > .modelos > div > table > tbody > tr > td > figure > #Estilete:hover {
       display: none;
    }
    .artesanal > .modelos > div > table > tbody > tr > td > figure > #Tanto:hover {
        display: none;
    }
    .artesanal > .modelos > div > table > tbody > tr > td > figure > #Daga:hover {
        display: none;
    }
    .artesanal > .modelos > div > table > tbody > tr > td > figure > #Gut-Knife:hover {
        display: none;
    }
    .artesanal > .modelos > div > table > tbody > tr > td > figure > #Kerambit2:hover {
        display: none;
    }
    .artesanal > .modelos > div > table > tbody > tr > td > figure > #Kukri:hover {
        display: none;
    }
}
/***************Cuchillo de acero al Carbono***************/
.cuchillo {
    opacity: 0.8;
    background-color: #434346;
    background-image: linear-gradient(to bottom, #1f1e2b, #714a17);
}
.cuchillo > .aceroalcarbono > div > h1 {
    font-size: 4em;
    color: var(--first-color-);
}
.cuchillo > .aceroalcarbono > div > p {
    font-size: 1.3rem;
    font-family: var(--second-font);
    color: var(--first-color);
    text-align: center;
}
.cuchillo > .manejoadecuado > article > div > h2 {
    font-size: 2em;
    color: var(black);
}
.cuchillo > .manejoadecuado > article > div > p {
    font-family: var(--second-font);
    font-size: 1.3rem;
    color: var(--first-color);
    text-align:center;
}
/*****Responsive****/
@media screen and (max-width: 786px) { 
    #cuchillodeacero {
        display: inline-block;
    }
}
/***************Acerca de Gamer Master Kanives***************/
.master > .gamer > h1 {
    font-size: 4em;
    text-align: center;
    background-color: #FFE7C1;
    border-radius: 5rem;
}
.master > .informacion > p {
    font-family: var(--second-font);
    font-size:1.5em;
    color: var(--first-color);
    text-align: center;
}
#knives {
    margin-left: 9rem;
    margin-right: 55rem;
    position: relative;
    top: 6rem;
}
#knives > figure >  img {
    height: 18rem;
    width: 18rem; 
    border-radius: 10rem;
    object-fit: cover;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #F9A93A ;
    opacity: 0.7;
    transition: 8s;
}
#knives > figure > img:hover {
    box-shadow: 10rem 10rem 10rem 10rem #F0BCBD
}
#knives > figure > figcaption {
    color: black;
    font-size: 4em;
}
/*****Responsive*****/
@media screen and (max-width: 786px) { 
    #knives > figure >  img {
        height: 10rem;
        width: 10rem; 
    }
    #knives {
        margin-left: 9rem;
        margin-right: 55rem;
        position: relative;
        top: 5rem;
    }
}
@media screen and (max-width: 480px) {
    #knives {
        margin-left: 9rem;
        margin-right: 55rem;
        position: relative;
        top: 10rem;
    }
}
/******************Tecnica de Afilado************************/
.tecnica > .afilado > div > h1 {
    font-size: 2.5em;
    text-align: center;
    background-color: #D5C5AA;
}
.afilado {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.instrucciones {
    background-color: #000000;
    border-end-end-radius: 5rem;
    height: 45rem;
    width: 30rem;
}
.tecnica > .afilado > .instrucciones > p {
    font-size: 1em;
    font-family: var(--second-font);
    color: var(--first-color);
    text-align: center;
    background-color: #D5C5AA;
    border-radius: 3rem;
}
figcaption > span {
    font-size: 2.5em;
    height: 20rem;
}
/*****Responsive*****/
@media screen and (max-width: 786px) { 
   #eorlund {
    height: 40rem;
   }
}
@media screen and (max-width: 480px) {
    #eorlund {
        height: 40rem;
        width: 19rem;
       }
    .afilado {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
/***************Restauracion de Cuchillos********************/
.restauracion {
    position: relative;
    top: 5rem;
}
.restauracion > div > h1 {
    font-size: 3em;
    color: var(--winte-color);
    text-align: center;
}
.restauracion > div > p {
    color: var(--first-color);
    font-size: 1.5em;
    font-family: var(--second-font);
    text-align: center;
}
.desgaste > .simonaggio > h2 {
    color: #a81212;
}
.desgaste > .simonaggio > p {
    color: white;
    font-size:1.5rem;
}
/*****video youtube*****/
.desgaste {
    height: 50%;
    width: 100%;
    background-color: #000000;
}
.desgaste > .simonaggio > #iframe {
    height: 15rem;
    width: 50rem;
    border-radius: 10rem;
    box-shadow: #272C0D 0rem 0rem 1rem 0rem; 
}
/*****Responsive*****/
@media screen and (max-width: 786px) {
    .desgaste > .simonaggio > #iframe {
        height: 15rem;
        width: 10rem;
        position: relative;
        top: 2rem;
    }
    .restauracion > div > p {
        color: var(--winte-color);
        font-size: 1.5em;
        font-family: var(--second-font);
        text-align: center;
    }
    .desgaste {
        position: relative;
        top: 2rem;
    }
}
/*****Galeria de fotos*****/
.galeria {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
.foto {
    width: 20rem;
    height: 20rem;
    position: relative;
    top: 4rem;
  }
#fotos {
    width: 15rem;
    border-radius: 1rem;
    border-radius: 10rem;
    box-shadow: #272C0D 0rem 0rem 7rem 2rem;
  }
/*********************contactanos**************************/
.contat {
    height: 100vh;
    width: 100%;
}
.grid-contact {
    display: grid;
    grid-template-columns: 1fr;
    height: inherit;
    width: inherit;
}
/******Grid form*****/
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #242F31;
}
.form-container > h2 {
    margin: 1rem 0;
    font-size: 2.2rem;
    color: var(--winte-color);
}
.form-grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #4D6663;
}
 .form-grid-item > textarea {
    margin-bottom: 1.5 rem;
    border: 0;
    border-radius: .5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}
.form-grid-item > textarea::placeholder {
    color: var(--first-alpha-color);
    font-family: var(--second-font);
}
.form-grid-item > input {
    height: 3rem;
    font-family: var(--second-font);
    border-radius: 1rem;
}
.form-grid-item > textarea {
    padding-top: 1rem;
    resize: none;
    font-family: var(--second-font);
}
.form-grid-item > button {
    background-color: black;
    color: var(--winte-color);
    border: 2px solid #2E302D;
    font-size: 1.5rem; 
    font-weight: bold;
    text-transform: uppercase;
    padding: .8rem 0;
    border-radius: .5rem;
    transition: 0.3s;
}
.form-grid-item > button:hover {
    background-color: #AEDEED;
    color: var(--first-color-);
}
/******Grid map*****/
 .map-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-grid-item > iframe {
    border-radius: .5rem;
    width: 95%;
    height: 400px;
    margin: 7.5% 0 1.2rem 0;
}
/***********************Footer*****************************/
footer {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}
.grid {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    padding: 2rem;
}
#logotipo {
    height: 11rem;
    width: 11rem;
}
.grid-contact > ul > li {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}
.grid-contact > h2 {
    color: var(--winte-color);
    font-family: var(--second-font);
}
.iconos > ul > li {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
   
}
.iconos > h2 {
    color: var(--winte-color);
    font-family: var(--second-font);
}
/******style icons******/
#telefono {
    fill:#1565d4
}
#casa {
    fill:#b5bad1
}
#correo {
    fill:#696768
}
#whatsapp {
    fill:#009800;
}
#facebook {
    fill:#002398;
}
#instagram {
    fill:#F20298;
}
#twitter {
    fill:#1C96E8;
}
#youtube {
    fill:#FF0000;
}
/********derechos de autor********/
footer > .Autor {
    background-color: #000000;
    text-align: center;
    font-size: 1em;
}
/*****Responsive*****/
@media screen and (max-width: 786px) {
    footer {
        grid-template-rows: repeat(1fr);
        align-items: center;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        margin-left: 3 rem;
    }
    footer > .Autor {
        text-align: center;
    }
    #logotipo {
        align-items: center;
    }
    .iconos > ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .iconos > ul > li {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 1rem;
    }

}
