/**************Tipos de Fuentes************/
@font-face {
    font-family: "Skyrim";
    src: url(/font/Balgruf-31cd.woff2);
}
@font-face {
    font-family: "Skyrim1";
    src: url(/font/DarkXShadowSkyrim.ttf);
}
/*********Propiedades Personalizadas*******/
:root {
    --first-color: rgb(5, 5, 5);
    --first-alpha-color: #373D3E;
    --second-color: #232821;
    --winte-color: #ffffff;
    --first-font: "Skyrim";
    --second-font:"Skyrim1";
}

/******************Reset*******************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 19px;
}
body { 
    font-family: var(--first-font);
    overflow-x: hidden;
    background-color: var(--first-alpha-color);
} 
a {
    text-decoration: none;
    align-items: none;
    color: var(--first-alpha-color); 
    transition: 2s;
}
a:hover {
    color: var(--winte-color);
}
li {
    list-style-type: none;
}
span {
    color: var(--first-alpha-color);
}
p {
    color: var(--winte-color);
}

/*************Utilidades Button****************/
.card-button {
    width: 100%;
    padding: 1rem;
    font-family: var(--first-font);
    cursor: pointer; 
    line-height: 0;
    transition: background-color 0.3s, color 0.3s; 
    font-weight: bold; 
    border-radius: 1rem;
    text-transform: uppercase;    
}
.card-button:hover {
    color: #009800;
    background-color: var(--first-color);
}

/***************Barra de Navegacion***************/
.img {
    height: 8rem;
    width: 4rem;
    
}
.cuerpo-inicio > header > .nav-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
    background-color:#0C0D07;
    width: 100%;
    transition: 0.5s;
}
.cuerpo-inicio > header > .nav-container > .logo {
    display: flex;
    align-items: center;
    column-gap: 0.8rem; 
}
.cuerpo-inicio > header > .nav-container > .logo > img {
    height: 5rem;
    width: 5rem;
}
.cuerpo-inicio > header > .nav-container > .navigation > .menu {
    display: flex; 
    column-gap: 1rem;
    font-family: var(--second-font);
}



/*****************Productos destacados******************/
.container {
    height: auto; 
    width: 100%;
    background-image: linear-gradient(to bottom, #919ba2dc, #000000);
    padding: 20px; 
}
.tarjetas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
}
.card {
    border: 2px solid #444; 
    border-radius: 10px;
    background-color: #3b3b3b; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); 
    transition: transform 0.3s, box-shadow 0.3s; 
    overflow: hidden;
}
.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1); 
}
.card-image {
    height: 150px; 
    width: 100%; 
    object-fit: cover; 
    border-bottom: 2px solid #F5B241; 
}
.card-data {
    list-style: none; 
    padding: 10px;  
}
.card-data-titles {
    color: #F5B241; 
    font-weight: bold; 
}
.card-data-alias {
    border: white;
}

/***********************Footer*****************************/
footer {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}
.grid {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    padding: 2rem;
}
#logotipo {
    height: 11rem;
    width: 11rem;
}
.grid-contact > ul > li {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}
.grid-contact > h2 {
    color: var(--winte-color);
    font-family: var(--second-font);
}
.iconos > ul > li {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
   
}
.iconos > h2 {
    color: var(--winte-color);
    font-family: var(--second-font);
}
/******style icons******/
#telefono {
    fill:#1565d4
}
#casa {
    fill:#b5bad1
}
#correo {
    fill:#696768
}
#whatsapp {
    fill:#009800;
}
#facebook {
    fill:#002398;
}
#instagram {
    fill:#F20298;
}
#twitter {
    fill:#1C96E8;
}
#youtube {
    fill:#FF0000;
}
/********derechos de autor********/
footer > .Autor {
    background-color: #000000;
    text-align: center;
    font-size: 1em;
}

